{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Teachers Login</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/T-login.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<div class="container">
		<div class="img">
			<img src="{% static 'img/T-login2.png' %}">

		</div>
		<div class="login-content">
			<form action="#" method="POST">
				{% csrf_token %}
				<img src="{% static 'img/T-icon.png' %}">
				<h2 class="title">Teacher Login</h2>
           		<div class="input-div one">
           		   <div class="i">
           		   		<i class="fas fa-user"></i>
           		   </div>
           		   <div class="div">
           		   		<input type="text" class="input" id="user_input" name="username" placeholder="Username" required>
           		   </div>
           		</div>
           		<div class="input-div pass">
           		   <div class="i">
           		    	<i class="fas fa-lock"></i>
           		   </div>
           		   <div class="div">
           		    	<input type="password" class="input" id="password_input" name="password" placeholder="Password" required>
            	   </div>
            	</div>

				<br>
				<div style="color: black;">
					{% for message in messages %}
					<p id="messages">{{message}}</p>
					{% endfor %}
				</div>


				<button class="btn btn-primary">Submit</button>
				<a href="{% url 'Home' %}" class="btn btn-primary" style="text-align: center; padding-top: 10px;" type="submit">Back</a>
				<div class="txt-c">
					<h3 style="color: black;">Don't have an account yet?</h3>
					<a href="{% url 'teacher' %}" style="text-align: center; cursor: pointer;"> Register here </a>
				</div>

            </form>

        </div>
    </div>

    <script type="text/javascript" src="js/main.js"></script>
</body>
</html>
